body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board-header {
  font-size: 2rem;
}

.board {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  margin: 5rem;
}

.player-losing {
  color: red;
}

.player-winning {
  color: green;
}

.player-neutral {
  color: white;
}

button {
  margin: 0.25rem;
  background-color: #20B2AA;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: white;
  color: #20B2AA;
}